@mixin gridContainer($gridTemplateColumn : 100%, $justifyContent: center, $alignItems: center) {
    display: grid;
    grid-template-columns: $gridTemplateColumn;
    justify-content: $justifyContent;
    align-items: $alignItems;
}

@mixin flexContainer($flexDirection : row ) {
    display: flex;
    flex-direction: $flexDirection;
}

@mixin stroke(){
    stroke: $header-font-color;
    stroke-linecap:round; 
    stroke-linejoin: round;      
}


@mixin stroke_footer(){
    stroke: $footer-text-link;
    stroke-linecap:round; 
    stroke-linejoin: round;      
}