$header-back-color: #a1af94;
$header-font-color: #eff2ea;
$header-font-type: sans-serif;

$logo-title-color: #485140;

$header-back-logo: #ffffff;
$hover-header-text-link:#a1af94;


$main-back-color: #ffffff;
$main-font-color: #212121;
$main-border-button-color:#000;
$main-font-button-color: #000;
$hover-main-back-button-color: #000;
$hover-main-font-button-color: #FFF;

$link-color: #485140;

$section-article-color: #fafafa;
$hover-color:#bcb2a8;

$border-color: #485140;
$hover-back-color: #485140;
$hover-blog-color: #FFFFFF;

$footer-back-color: #eff2ea;
$footer-text-color: #212121;
$footer-text-link:#485140;
$hover-footer-text-link: #a1af94;

